@using System.Activities.Expressions
@{
    ViewBag.Title = "Change User Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change User Role</h2>

<div id="divSelects">
    <span class="spnMain">Select a site:&nbsp;</span> @Html.DropDownList("Sites")
    <br />  
    <span class="spnMain">Select a member:&nbsp;</span>@Html.DropDownList("Users")
    <br />
    <input id="SiteID" name="SiteID" type="hidden" value='@ViewBag.Site' />
    
</div>

<div id="divSelected">
    <hr/>
    <div>Current user role: <label id="lblCurrentRole"></label></div>
    <div>Current user name: <label id="lblCurrentUserName"></label></div>
    <div>Current user email: <input type="text" id="email" name="email"/></div>
    <div id="divEmpId">
        Current user employee Id: <input type="text" id="empId" name="empId"/>
        <label id="lblEmpIdMessage"></label>
    </div>
    <br/>
    
    Select new role: @Html.DropDownList("Roles", (SelectList)@ViewBag.Roles ,  new { @class = "lstRoles" })
    <br/>
    <span id="spnUserName">
        Enter user name: <input type="text" id="userName" name="userName"/>
        <label id="lblUserNameAvailable">User name is available</label>
        <label id="lblUserNameNotAvailable">X User name is not available</label> 
    </span>
    <br/><br/>
    <button type="button" id="btnSubmit" >Submit</button>
</div>  

<link href="@Url.Content("~/Content/ChangeUserRole.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/ChangeUserRole.js")" type="text/javascript"></script>
