@model hpMvc.Models.ResetPasswordModel

@{
    ViewBag.Title = "Reset User Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reset Password for user: @Model.UserName</h2>

@using (Html.BeginForm("ResetUserPassword", "Admin", FormMethod.Post))
{
    @Html.Hidden("userName",  @Model.UserName)
    @*<input type="hidden" id="userName" name="userName" value="@ViewBag.User" />*@
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ResetPasswordModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
        <div>
            <input type="checkbox" checked="checked" name="forceReset" id="forceReset" value="reset" /> Force user to reset password on next logon
        </div>
        <p>
            <input id="btnSave" type="button" value="Save" /> <img alt="" id="waitGif" src="@Url.Content("~/Content/images/wait.gif")" />
        </p>

    </fieldset>
}

<div>
    @Html.ActionLink("Back to Manage Users", "Index")
</div>

<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ResetUserPassword.js")" type="text/javascript"></script>
