@model hpMvc.Models.PostTestView

@{
    ViewBag.Title = "Add New Post Tests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/postTestEdit.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/postTestAdd.js")" type="text/javascript"></script>

<h2>Add New Post Tests</h2>

<br />
<h3>For @Model.StaffName</h3>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
          
        @Html.Hidden("staffName", @Model.StaffName)
        @Html.Hidden("staffId", @Model.StaffId)
        <div>
            @for (int i = 0; i < (@Model.PostTests.Count()); i++)
            {
                @Html.HiddenFor(m => @Model.PostTests[i].ID)
                @Html.HiddenFor(m => @Model.PostTests[i].Name)
                <span class = "lbl1" >@Model.PostTests[i].Name </span> 
                <span class="spanDate">
                    <span>Date completed:</span>
                    @Html.TextBoxFor(m => @Model.PostTests[i].sDateCompleted, new { @class = "datePicker" })
                </span>
                <br/>    
            }
        </div>
        
        <p>
            <input id="save" type="button" value="Save" />
        </p>
    
}

<div>
    @Html.ActionLink("Back to Post Tests Admin", "Index")
</div>
