@model List<hpMvc.Models.PostTest>

@{
    ViewBag.Title = "EditPostTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Post Tests Completed</h2>
<link href="@Url.Content("~/Content/postTestEdit.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/postTestEdit.js")" type="text/javascript"></script>

<br />
<h3>For @ViewBag.StaffName</h3>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
        <p>
            Select the tests completed by <strong>  </strong>  
        </p>      
        <input type="hidden" name="staffName" value='@ViewBag.StaffName' />
        <input type="hidden" name="staffId" value='@ViewBag.StaffId' />
        <div>
            @for (int i = 0; i < (@Model.Count()); i++)
            {
                @Html.HiddenFor(m => @Model[i].ID)
                @Html.HiddenFor(m => @Model[i].Name)
                
                @Html.CheckBoxFor(m => @Model[i].IsCompleted)
                <span class = "lbl1" >@Model[i].Name </span> 
                <span class="spanDate">
                    <span>Date Completed:</span>
                    @Html.TextBoxFor(m => @Model[i].sDateCompleted, new{@class="datePicker"})
                </span>
                <br/>    
            }
        </div>
        
        <p>
            <input id="save" type="button" value="Save" />
        </p>
    
}

<div>
    @Html.ActionLink("Back to Post Tests Admin", "Index")
</div>
