@using Telerik.Web.Mvc.UI
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="" method="post">
	
	<div id="divSideBar2">
		@(Html.Telerik().Menu()
            .Orientation(MenuOrientation.Vertical)
            .Name("MenuQ")            
            .BindTo("quick", (item, node) =>
       {
           string roles = node.Attributes["role"] as string;
           if (roles == "nurse")
               item.Visible = false;
           if (node.Attributes["ImageUrl"] != null)
               item.ImageUrl = node.Attributes["ImageUrl"].ToString();
           if (node.Attributes["name"] != null)
               item.RouteValues.Add("name", node.Attributes["name"]);
           if (node.Attributes["fileName"] != null)
               item.RouteValues.Add("fileName", node.Attributes["fileName"]);
           if (node.Attributes["folder"] != null)
               item.RouteValues.Add("folder", node.Attributes["folder"]);
           if (node.Attributes["type"] != null)
               item.RouteValues.Add("type", node.Attributes["type"]);
           if (node.Attributes["class"] != null)
               item.HtmlAttributes.Add("class", node.Attributes["class"]);

       }))
	</div>

    <div id="divBarMenu">
		@(Html.Telerik().Menu()
            .Name("Menu")
            
            .BindTo("staff", (item, node) =>
       {
           string roles = node.Attributes["role"] as string;
           if (roles == "nurse")
               item.Visible = false;           
           if (node.Attributes["name"] != null)
               item.RouteValues.Add("name", node.Attributes["name"]);
           if (node.Attributes["fileName"] != null)
               item.RouteValues.Add("fileName", node.Attributes["fileName"]);
           if (node.Attributes["folder"] != null)
               item.RouteValues.Add("folder", node.Attributes["folder"]);
           if (node.Attributes["class"] != null)
               item.HtmlAttributes.Add("class", node.Attributes["class"]);
           if (node.Attributes["ImageUrl"] != null)
               item.ImageUrl = node.Attributes["ImageUrl"].ToString();

       })
)
	</div>
    
    <div id="formContent">
    
    @if(ViewBag.ShowFolder == "true")
    {
        { Html.RenderPartial("DisplayFolderPartial"); }
    }       
</div>	
</form>		
<div>
    
</div>


<link href="@Url.Content("~/Content/staff.css")" rel="stylesheet" type="text/css" />
 
<script src="@Url.Content("~/Scripts/staff.js")" type="text/javascript"></script>
@(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.office2010blue.css")))
@(Html.Telerik().ScriptRegistrar().jQuery(false))