@model hpMvc.Models.StaffModel

@{
    ViewBag.Title = "Add New " + ViewBag.Type;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New @ViewBag.Type</h2>
<div>
    @if (@ViewBag.Role == "Admin")
    {
        <span>Select a site:&nbsp;</span> @Html.DropDownList("Sites")
        <br /><br />
    }
</div>
@{ Html.RenderPartial("NewPartial"); }

<link href="@Url.Content("~/Content/AddNewStaff.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/AddNewStaff.js")" type="text/javascript"></script>