@model List<hpMvc.Models.Randomization>
@{
    ViewBag.Title = "Randomized Studies";
}

<script type="text/javascript">
    $(function () {
        
        $('#Sites').change(function () {
            $.getJSON('@Url.Action("GetSiteRandomizedStudies")',
                { siteID: $(this).val() },
                function (result) {
                    var grid = $('#grid');
                    grid.empty();
                    grid.append(result.Data);
                    $('#spanTotal').text("Total Subjects Randomized: " + result.Count);
                });

        });
    });
</script>

<h2>Randomized Studies</h2>

<span>Select a site:&nbsp;</span> @Html.DropDownList("Sites")
<br /><br />
<input type="hidden" value="@ViewBag." id="mode" />
<b><span id="spanTotal">Total Subjects Randomized: @Model.Count</span></b>
<div id="grid">

@{    
    var grid = new WebGrid(Model, defaultSort: "Number", rowsPerPage: 50 );
}

@grid.GetHtml(tableStyle: "webgrid", headerStyle: "header", alternatingRowStyle: "alt",
    columns:grid.Columns(
    grid.Column("SiteName", header:"Site"),
    grid.Column("Number"),
    grid.Column("StudyID", header: "Study  ID"),
    grid.Column("Arm"),
    grid.Column("DateRandomized",style:"text-align-right" , header:"Date Randomized", format: @<text>@item.DateRandomized.ToString("MM/dd/yyyy hh:mm tt")</text>))
)
</div>

<link href="@Url.Content("~/Content/webgrid.css")" rel="stylesheet" type="text/css" />