@model List<hpMvc.Models.Randomization>
@{
    ViewBag.Title = "Randomized Studies";
}

<style type="text/css">
    .webgrid{ margin: 4px;border-collapse: collapse;} 
    .webgrid th, .webgrid td{ border: 1px solid #c0c0c0;padding: 5px;}   
    .header{ background-color: #E8E8E8;font-weight: bold;color:#fff}
    .alt{ background-color: #e8e8e8; color:#000}
</style>

<script type="text/javascript">
    $(function () {
        $('#Sites').change(function () {
            $.getJSON('@Url.Action("GetSiteRandomizedStudies")',
                { siteID: $(this).val() },
                function (result) {
                    var grid = $('#grid');
                    grid.empty();
                    grid.append(result.Data);
                });

        });
    });
</script>

<h2>Randomized Studies</h2>

<span>Select a site:&nbsp;</span> @Html.DropDownList("Sites")
<br /><br />

<div id="grid">

@{    
    var grid = new WebGrid(Model, defaultSort: "Number", rowsPerPage: 50 );
}

@grid.GetHtml(tableStyle: "webgrid", headerStyle: "header", alternatingRowStyle: "alt",
    columns:grid.Columns(
    grid.Column("SiteName", header:"Site"),
    grid.Column("Number"),
    grid.Column("StudyID", header: "Study  ID"),
    grid.Column("Arm"),
    grid.Column("DateRandomized",style:"text-align-right" , header:"Date Randomized", format: @<text>@item.DateRandomized.ToString("MM/dd/yyyy hh:mm tt")</text>))
)
</div>

@*<link href="@Url.Content("~/Content/webgrid.css")" rel="stylesheet" type="text/css" />*@