@model List<hpMvc.Models.SiteInfo>
@{
    ViewBag.Title = "Halfpint Sites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Halfpint Sites</h2>
<div>
    @{
 
        var grid = new WebGrid(Model, defaultSort: "SiteId", rowsPerPage: 50);
    }
    @grid.GetHtml(tableStyle: "webgrid", headerStyle: "header", alternatingRowStyle: "alt",
        columns: grid.Columns(
        grid.Column("Id", header: "Internal Id"),
        grid.Column("Name", header: "Short Name", format: @<text>@Html.ActionLink((string)item.Name, "SiteDetails", "Sites", new { id = item.Id }, null)</text>),
        grid.Column("LongName", header: "Long Name"),
        grid.Column("SiteId", header: "Site Id"),
        grid.Column("IsEmployeeIdRequired", header: "Employee Id Required"),
        grid.Column("IsActive", header: "Active"),
        grid.Column("Sensor", header: "Sensor Type"),
        grid.Column("AcctUserName", header: "User Name", format:@<text><span class="userName">@item.AcctUserName</span></text>),
                    grid.Column("AcctPassword", header: "Password", format: @<text><span class="userPassword">@item.AcctPassword</span></text>),
                    grid.Column(header: "", style: "text-align-center", format: @<text>
            <button class="btnReset">
                Reset Password
            </button></text>)
                                  ))
</div>
<div>
    <br />
    @Html.ActionLink("Add new site", "Add")
    <br />
    @Html.ActionLink("Insulin Concentrations", "InsulinConcentrations")
</div>
<link href="@Url.Content("~/Content/webgrid.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/Sites.js")" type="text/javascript"></script>