@model hpMvc.Models.SiteInfo

@{
    ViewBag.Title = "Site Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style rel="stylesheet" type="text/css" >
    fieldset {
        line-height: 25px;
    }
    .lbleditor {
        width: 160px;
        display: inline-block;
    }
    .col2 
    {
        display: inline-block;
        margin-left: 5px;
    }
    .text-box {
        width: 500px;
    }
    .underline {
        text-decoration: underline; 
    }
</style>
<script type="text/javascript">
    $(function () {
        if ($('#IsEmployeeIdRequired').attr("checked") !== "checked") {
            $('#EmployeeIdRegEx').val("");
            $('#EmployeeIdRegEx').attr("disabled", "disabled");
            $('#EmployeeIdMessage').val("");
            $('#EmployeeIdMessage').attr("disabled", "disabled");
        }
        else {
            $('#EmployeeIdRegEx').attr("disabled", false);
            $('#EmployeeIdMessage').attr("disabled", false);
        }
        
        $('#IsEmployeeIdRequired').change(function () {
            if ($(this).attr("checked") !== "checked") {
                $('#EmployeeIdRegEx').val("");
                $('#EmployeeIdRegEx').attr("disabled", "disabled");
                $('#EmployeeIdMessage').val("");
                $('#EmployeeIdMessage').attr("disabled", "disabled");
            }
            else {
                $('#EmployeeIdRegEx').attr("disabled", false);
                $('#EmployeeIdMessage').attr("disabled", false);
            }
        });
    });
</script>
<h2>Site Details for @Html.DisplayFor(model => model.Name) - Site Id:&nbsp;@Html.DisplayFor(model => model.SiteId) </h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    <input type="hidden" id="Name" name="Name" value='@Model.Name'/>
    <input type="hidden" id="SiteId" name="SiteId" value='@Model.SiteId'/>
    
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Site Details</legend>
    
        <div>
            <span class="lbleditor">Internal Id:</span>
            <span class="col2"> @Html.DisplayFor(model => model.Id) </span>
        </div>
        
        <div>
            <span class="lbleditor">Long Name:</span>
            <span class="col2"> 
                @Html.EditorFor(model => model.LongName)
            </span>
        </div>
        
        <div>
            <span class="lbleditor">Nurse User Name:</span>
            <span class="col2"> 
                @Html.EditorFor(model => model.AcctUserName)
            </span>
        </div>
        
        <div>
            <span class="lbleditor">Nurse Password:</span>
            <span class="col2"> 
                @Html.EditorFor(model => model.AcctPassword)
            </span>
        </div>

        <div>
            <span class="lbleditor">Is Employee Id Required:</span>
            <span class="col2"> 
                @Html.EditorFor(model => model.IsEmployeeIdRequired)
            </span>
        </div>
    
        <div>
            <span class="lbleditor">Employee Id RegEx:</span>
            <span class="col2"> 
                @Html.EditorFor(model => model.EmployeeIdRegEx)
                @Html.ValidationMessageFor(model => model.EmployeeIdRegEx) 
            </span>
        </div>

        <div>
            <span class="lbleditor">Employee Id Message:</span>
            <span class="col2"> 
                @Html.EditorFor(model => model.EmployeeIdMessage)
                @Html.ValidationMessageFor(model => model.EmployeeIdMessage)
            </span>
        </div>

        <div>
            <span class="lbleditor">Active:</span>
            <span class="col2"> 
                @Html.EditorFor(model => model.IsActive)
            </span>
        </div>

        <div>
            <span class="lbleditor">Use Vamp Jr.:</span>
            <span class="col2"> 
                @Html.EditorFor(model => model.UseVampjr)
            </span>
        </div>
        
        <div>
            <span class="lbleditor">Use Calf-pint:</span>
            <span class="col2"> 
                @Html.EditorFor(model => model.UseCalfpint)
            </span>
        </div>

        <div>
            <span class="lbleditor">Sensor Type:</span>
            <span class="col2"> 
                @Html.EditorFor(model => model.Sensor)
            </span>
        </div>
        
        <div>
            <span class="underline">Insulin Concentrations Used:</span>
            @for (int i = 0; i < @Model.InsulinConcentrations.Count; i++)
            {
                <div>
                    @Html.HiddenFor(m => @Model.InsulinConcentrations[i].Id)
                    @Html.HiddenFor(m => @Model.InsulinConcentrations[i].Name)
                    @Html.HiddenFor(m => @Model.InsulinConcentrations[i].Concentration)
                    <span class="lbleditor">@Model.InsulinConcentrations[i].Name</span>
                    @Html.EditorFor(m => @Model.InsulinConcentrations[i].IsUsed)
                </div>
            }
            
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Sites", "Index")
</div>
