@model hpMvc.Models.StaffSubscriptions
<h3>Notifications Subscribed To For @Model.StaffName</h3>

@if (Model.NotificationEvents.Count == 0)
{
    <p>
        There are no alerts subscribed to for this staff member.</p>
}
else
{
    <ul>
        @foreach (var item in Model.NotificationEvents)
        {
            var line = @item.Name;
            if (item.IsAllSites)
            {
                line += "  *All sites";
            }
            <li>@line</li>
        }
    </ul>
}
@Html.ActionLink("Change Alerts", "StaffSubscriptionsChange", new { staffId = @Model.StaffId })
