@model hpMvc.Models.SubjectCompleted

<form action="" method="post" enctype="multipart/form-data">
     <input id="ID" name="ID" type="hidden" value='@Model.ID' />
        <input id="StudyID" name="StudyID" type="hidden" value='@Model.StudyID' />
        <input id="DateRandomized" name="DateRandomized" type="hidden" value='@Model.DateRandomized' />
        <input id="MonitorID" name="MonitorID" type="hidden" value='@Model.MonitorID' />
        <input id="CgmUpload" name="CgmUpload" type="hidden" value='@Model.CgmUpload'/>
        <input id="SiteName" name="SiteName" type="hidden" value='@Model.SiteName'/>
        <input id="Role" name="Role" type="hidden" value='@ViewBag.Role'/>
     
     @Html.ValidationSummary(true, "Subject completion was unsuccessful. Please correct the errors and try again.")
     <fieldset>
        <legend>Required Fields For Completed Subject</legend>
            
        <label class="lblmain">DateCompleted:</label>  @Html.EditorFor(m => m.DateCompleted) <span>(i.e., the last day that a BG value was entered into CHECKS)</span>
        @Html.ValidationMessageFor(model => model.DateCompleted)
        <br />
        
        <label class="lblmain">CGM (csv file) upload:</label>
        <input id="upload" type="file" name="file" /> 
        <span id="spanUpload">
            The CGM csv file has been successfully uploaded.            
        </span>
        <br />
        
        <span style="text-decoration:underline">Neurodevelopmental Follow-Up Questionnaires</span>
        <br />
        @Html.EditorFor(m => m.Older2) <span>Subject was older than the age of 2 at the time of randomization</span>
        <div id="overTwo">
            <label class="older2">Certify with a check mark that the following have been collected and sent to the CCC</label><br />            
            <label class="certify">(a) </label>@Html.EditorFor(m => m.CBCL) <span>CBCL</span><br />
            <label class="certify">(b) </label>@Html.EditorFor(m => m.PedsQL) <span>Peds-QL</span><br />
            <label class="certify">(c) </label>@Html.EditorFor(m => m.Demographics) <span>Subject Demographics</span><br />
            @Html.CheckBoxFor(m => m.ContactInfo, new { @class = "older2" }) <span>Subject contact information has been collected and stored at site</span>
        </div>
        
        <br />
        <label>Reason for not completing all required fields</label><br />
        @Html.TextAreaFor(m => m.NotCompletedReason, new { cols = "100", rows = "5" });
        
        <br />
        @if (@ViewBag.Role == "Admin"){
            <span id="spanCleared">@Html.EditorFor(m => m.Cleared)<label>Cleared by administrator</label></span>
        }
        <br />


        <input type="submit" id='btnSubmit' value="Save" />
    </fieldset>
</form>          

