@model List<hpMvc.Models.SubjectCompleted>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divSideBar">
	<h3>Quick Links</h3>
	<ul id="ulMainMenu">    
		<li>@Html.ActionLink("Show Study IDs Not Randomized", "StudyIdsNotRandomized")</li>
		<li>@Html.ActionLink("Show Randomized Studies", "RandomizedStudies")</li>
		<li>@Html.ActionLink("Show Post Tests Completed", "ShowPostTestsCompleted")</li>
		<li>@Html.ActionLink("Show Post Tests Completed2", "ShowPostTestsCompleted2")</li>
		<li>@Html.ActionLink("Show Post Tests Next Due", "ShowPostTestsDue")</li>
		<li>@Html.ActionLink("Download StatStrip Operators List", "DownloadStatStripList")</li>
        <li>@Html.ActionLink("Update Staff Member Information", "UpdateStaffInformation")</li>			
	</ul>
</div>

<div id="div1Col">
	<h3>Active Studies</h3>
	@if (@ViewBag.Role == "Admin")
	{
		<span>Select a site:&nbsp;</span> @Html.DropDownList("Sites") <span>&nbsp; &nbsp;</span><input id="showCleared" name="showCleared" type="checkbox" value="false" /><span id="spanCleared">Show cleared subjects</span> 
		<br /><br />
	}
	<input type="hidden" value='@ViewBag.SiteID' id="SiteID" />
	<table id="tblActive">
		<thead>
			<tr>			
				<th>Study ID</th>
				<th>Date Randomized</th>
				<th></th>
			</tr>
		</thead>
		<tbody>		
		</tbody>
	</table>
	
</div>

<link href="@Url.Content("~/Content/CoordInitialize.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/CoordInitialize.js")" type="text/javascript"></script>
