@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Coordinators Menu</h2>


<ul id="ulMainMenu">    
	<li>@Html.ActionLink("Show Study IDs Not Randomized", "StudyIdsNotRandomized")</li>
    <li>@Html.ActionLink("Show Randomized Studies", "RandomizedStudies")</li>
    <li>@Html.ActionLink("Show Post Tests Completed", "ShowPostTestsCompleted")</li>
    <li>@Html.ActionLink("Show Post Tests Completed2", "ShowPostTestsCompleted2")</li>
    <li>@Html.ActionLink("Show Post Tests Next Due", "ShowPostTestsDue")</li>			
</ul>
