@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Coordinators Menu</h3>

<div id="divSideBar">
    <ul id="ulMainMenu">    
	    <li>@Html.ActionLink("Show Study IDs Not Randomized", "StudyIdsNotRandomized")</li>
        <li>@Html.ActionLink("Show Randomized Studies", "RandomizedStudies")</li>
        <li>@Html.ActionLink("Show Post Tests Completed", "ShowPostTestsCompleted")</li>
        <li>@Html.ActionLink("Show Post Tests Completed2", "ShowPostTestsCompleted2")</li>
        <li>@Html.ActionLink("Show Post Tests Next Due", "ShowPostTestsDue")</li>
        <li>@Html.ActionLink("Download StatStrip Operators List", "DownloadStatStripList")</li>			
    </ul>
</div>