@model hpMvc.Models.StaffEditModel

<h3>Post Tests Completed Summary</h3>

<div>
    <table id="tblptc">
        <thead>
            <tr>
                <th>Test</th><th>Date Completed</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.PostTestsCompleted.PostTestsCompleted.Count > 0)
            {
                foreach (var pt in Model.PostTestsCompleted.PostTestsCompleted)
                {
                    <tr>
                        <td>@pt.Name</td><td>@pt.sDateCompleted</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2">There are no tests completed</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @*<span id="spanTestHistory" class="btn" ><i id="iptHistory" class="icon-double-angle-down"></i></span><span>&nbsp;&nbsp;</span><span id="txtptHistory">Show Post Tests History</span>*@
    <a id="aTestHistory" href="" class="buttons down_arrow">Show Post Tests History</a>
</div>
<div id="divPostTestsHistory">
    <table id="tblptch">
        <thead>
            <tr>
                <th>Test</th><th>Date Completed</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.PostTestsCompletedHistory.PostTestsCompleted.Count > 0)
            {
                foreach (var pt in Model.PostTestsCompletedHistory.PostTestsCompleted)
                {
                    <tr>
                        <td>@pt.Name</td><td>@pt.sDateCompleted</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2">There are no tests completed</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<form id="updateForm" action="" method="post" >    
    <input id="Role" name="Role" type="hidden" value='@Model.Role'/>
    <input id="UserID" name="ID" type="hidden" value='@Model.ID'/>
    <input id="UserName" name="UserName" type="hidden" value='@Model.UserName' />    
    <input id="OldEmail" name="OldEmail" type="hidden" value='@Model.OldEmail'/>
    <input id="OldActive" name="OldActive" type="hidden" value='@Model.OldActive'/>    
    
    @Html.ValidationSummary(true, "Subject completion was unsuccessful. Please correct the errors and try again.")
    <fieldset>
        <legend>Update @ViewBag.Type Information</legend>        
        @if (Model.Role == "Nurse")
        {
            @Html.EditorFor(m => m.Active) <span class="spanChk">Active</span>
        }
        else
        {
            <label class="lblMain">Active:</label> <label >@Model.Active</label>
        }
        <br />
        <label class="lblMain">Study role:</label> <label >@Model.Role</label>        
        <br />
        @if (Model.Role != "Nurse")
        {
            <label class="lblMain">User Name</label> <label >@Model.UserName</label>          
            <br />            
            <label class="lblMain">Email</label> <label>@Model.Email</label>
        }
        else
        {
            <label class="lblMain">Email</label> @Html.EditorFor(m => m.Email) @Html.ValidationMessageFor(m => m.Email) 
        }
        <br />        
        <label class="lblMain">First Name</label> @Html.EditorFor(m => m.FirstName) 
        <br />
        <label class="lblMain">Last Name</label> @Html.EditorFor(m => m.LastName) 
        <br />        
        @if (!(@Model.Role == "Nurse" || @Model.Role == null))
        {            
            <label class="lblMain">Phone</label> @Html.EditorFor(m => m.Phone)                         
        }
        <div id="siteSpecific">            
            <label class="lblMain">EmployeeID</label> @Html.EditorFor(m => m.EmployeeID) 
            <span id="empIDmessage"></span>            
        </div>
        <br />
        @Html.EditorFor(m => m.NovaStatStrip) <span class="spanChk">Nova Stat Strip</span>
        <label class="lblDoc">Date Completed:</label>  @Html.EditorFor(m => m.NovaStatStripDoc) 
        <br />
        @Html.EditorFor(m => m.Vamp) <span class="spanChk">VAMP</span>
        <label class="lblDoc">Date Completed:</label>  @Html.EditorFor(m => m.VampDoc) 
        <br />
        @Html.EditorFor(m => m.Cgm) <span class="spanChk">CGM Sensor Insertion</span>
        <label class="lblDoc">Date Completed:</label>  @Html.EditorFor(m => m.CgmDoc) 
        <br />
        @if (!(@Model.Role == "Nurse" || @Model.Role == null))
        {
            @Html.EditorFor(m => m.Inform) <span class="spanChk">Inform Training</span>
            <label class="lblDoc">Date Completed:</label>  @Html.EditorFor(m => m.InformDoc) 
            <br />
            @Html.EditorFor(m => m.OnCall) <span class="spanChk">On-Call</span>
            <label class="lblDoc">Date Completed:</label>  @Html.EditorFor(m => m.OnCallDoc) 
            <br />
            @Html.EditorFor(m => m.HumanSubj) <span class="spanChk">Human Subject Training</span>
            <label class="lblDoc">Date Started:</label>  @Html.EditorFor(m => m.HumanSubjStart) 
            <label class="lblDoc">Date Expired:</label>  @Html.EditorFor(m => m.HumanSubjExp) 
            <br />
        }
    </fieldset>
    <br /><input type="submit" id="btnSubmit" value="Save" />&nbsp;&nbsp;&nbsp;<input type="button" id="btnCancel" value="Cancel"/>
</form>
@Html.ActionLink("Notification Subscriptions", "StaffSubscribe", new { staffId = Model.ID })

@*<link href="@Url.Content("~/Content/FortAwesome-Font-Awesome-13d5dd3/css/font-awesome.min.css")" rel="stylesheet">
<!--[if IE 7]>
    <link href="@Url.Content("~/Content/FortAwesome-Font-Awesome-13d5dd3/css/font-awesome-ie7.min.css")" rel="stylesheet">
<![endif]-->
<link href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
<script src="@Url.Content("~/Content/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
*@
<link href="@Url.Content("~/Content/buttons.css")" rel="stylesheet">