
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : EarthlingTwo
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20090918
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Earthlingtwo/Style.css")" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    @if (IsSectionDefined("AdditionalLinkHead"))
    {
        @RenderSection("AdditionalLinkHead", false)
    }
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>

    @*<script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/Layout.js")" type="text/javascript"></script>


    @if (IsSectionDefined("AdditionalScriptHead"))
    {
        @RenderSection("AdditionalScriptHead", false)
    }

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-81816159-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>
<body>
    <div id="spinner">
        please wait...
    </div>
    <div id="wrapper">
        <div id="header">
            <div id="logon">
                @Html.Partial("_LogOnPartial")
            </div>
            <div id="contactus">
                <a href="mailto:CCC@Halfpintstudy.org?Subject=Contacting you">Contact us</a>
            </div>
            @*<div id="googleSearch">
                    <script>
                        (function () {
                            var cx = '010508738539721982543:tiayuockkly';
                            var gcse = document.createElement('script');
                            gcse.type = 'text/javascript';
                            gcse.async = true;
                            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                '//www.google.com/cse/cse.js?cx=' + cx;
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(gcse, s);
                        })();
                    </script>
                    <gcse:search></gcse:search>
                </div>*@
        </div>
        <!-- end #header -->

        <div id="menu">

            @if (IsSectionDefined("Menu"))
            {
                @RenderSection("Menu")
            }
            else
            {
                var routValues = new RouteValueDictionary();
                routValues.Add("folder", "");
                <ul id="ulMainMenu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (Request.FilePath.Contains("Familias") || Request.FilePath.Contains("familias"))
                    {
                        <li>@Html.ActionLink("Familias", "Index", "Familias") </li>
                    }
                    else if (Request.FilePath.Contains("DesFamilles") || Request.FilePath.Contains("familias"))
                    {
                        <li>@Html.ActionLink("DesFamilles", "Index", "DesFamilles") </li>
                    }
                    else if (Request.FilePath.Contains("FamiliesArabic") || Request.FilePath.Contains("familias"))
                    {
                        <li>@Html.ActionLink("FamiliesArabic", "Index", "FamiliesArabic") </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Families", "Index", "Families")</li>
                    }
                    <li>@Html.ActionLink("Staff", "Index", "Staff")</li>
                    <li id="dccLink">@Html.ActionLink("DCC", "Index", "Dcc")</li>
                    <li id="coordLink">@Html.ActionLink("Coordinator", "Index", "Coordinator")</li>
                    <li id="adminLink">@Html.ActionLink("Admin", "Index", "Admin")</li>
                </ul>}
        </div>
        <!-- end #menu -->
        @*<div id="barMnu">
                @if (IsSectionDefined("BarMenu")) {
                    @RenderSection("BarMenu",false)
                }
            </div>*@
        <div id="page">

            <div id="content">
                <div id="sidebar">
                    @if (IsSectionDefined("Sidebar"))
                    {
                        @RenderSection("Sidebar", false)
                    }
                </div>
                <!-- end #sidebar -->
                @RenderBody()
                <div style="clear: both;">&nbsp;</div>

            </div>
            <!-- end #content -->

            <div style="clear: both;">&nbsp;</div>
        </div>
        <!-- end #page -->
    </div> <!-- end #wrapper -->
    <div id="footer-content">
        <img id="imgNih" alt="ct" src="@Url.Content("~/Content/Images/nih.png")" />
        <img id="imgct" alt="ct" src="@Url.Content("~/Content/Images/clinical trials Logo.png")" />
        <img id="imgnhlbi" alt="nhlbi" src="@Url.Content("~/Content/Images/nhli.gif")" />
    </div>
    <div id="footer">

        <p> </p>
    </div>
    <!-- end #footer -->
</body>
</html>
