@model List<hpMvc.Models.Additive>
@{
    ViewBag.Title = "Additive List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Additive List</h2>
<div>
    @{
 
        var grid = new WebGrid(Model, defaultSort: "SiteId", rowsPerPage: 50);
        
    }
    @if (@ViewBag.Role == "Admin")
    {
        @grid.GetHtml(
         tableStyle: "webgrid", headerStyle: "header", alternatingRowStyle: "alt",
         columns: grid.Columns(
             grid.Column("ID", header: "Internal Id"),
             grid.Column("Name", header: "Additive Name", format: @<text>@Html.ActionLink((string)item.Name, "AdditiveDetails", "CalorieCalc", new { id = item.ID }, null)</text>),
             grid.Column("Kcal_unit", header: "kCal per unit", format: (item) => string.Format("{0:N}", item.Kcal_unit)),
             grid.Column("ProteinKcal", header: "Protein % of kcal"),
             grid.Column("ChoKcal", header: "CHO % of kcal"),
             grid.Column("LipidKcal", header: "Lipid % of kcal"),
             grid.Column("UnitName", header: "Unit")
             ))
    }
    else
    {
        @grid.GetHtml(
         tableStyle: "webgrid", headerStyle: "header", alternatingRowStyle: "alt",
         columns: grid.Columns(
             grid.Column("ID", header: "Internal Id"),
             grid.Column("Name", header: "Additive Name"),
             grid.Column("Kcal_unit", header: "kCal per unit", format: (item) => string.Format("{0:N}", item.Kcal_unit)),
             grid.Column("ProteinKcal", header: "Protein % of kcal"),
             grid.Column("ChoKcal", header: "CHO % of kcal"),
             grid.Column("LipidKcal", header: "Lipid % of kcal"),
             grid.Column("UnitName", header: "Unit")
             ))

    }
</div>
<link href="@Url.Content("~/Content/webgrid.css")" rel="stylesheet" type="text/css" />