@model hpMvc.ViewModels.FamiliesViewModel
@{
    ViewBag.Title = "HALF-PINT Página de la Familia";
}
<script> var currentAmount = @Model.RandomizedCount;</script>
<div id="row1">
    <h1>HALF-PINT Página de la Familia</h1>
    <ul id="lanSelector">
        <li>
            Idioma: Español
            <ul class="languages">
                <li id="english">@Html.ActionLink("English", "Index", new { Controller = "Families" })</li>
                <li id="french">@Html.ActionLink("Français", "Index", new { Controller = "DesFamilles" })</li>
                <li id="arabic">@Html.ActionLink("العربية", "Index", new { Controller = "FamiliesArabic" })</li>
            </ul>
        </li>
    </ul>
</div>
<div id="row2">
    <div id="familyImage">
        <img src="@Url.Content("~/Content/Images/family_photo.png")" title="family_photo" />
    </div>
    <div id="hpInfo">
        <p>
            ¡Bienvenido a la Página de la Familia del Estudio HALF-PINT! En HALF-PINT sabemos que toda la atención médica e investigaciones a su alrededor puede ser agobiante tanto para usted como para su hijo, por ello, esperamos que está página responda cualquier pregunta que pueda tener sobre el estudio en que está participando su hijo.<br /><br />Actualmente, HALF-PINT ha inscrito a
            <script type="text/javascript">document.write(currentAmount);</script> pacientes en más de 30 centros en Estados Unidos y en todo el mundo. Tenemos la intención de inscribir a 1,414 niños y completar el estudio a finales del verano de 2018. Si tiene algún comentario sobre la página de la familia, o aún tienen preguntas relacionadas con el estudio HALF-PINT, por favor haga clic en el botón "Contáctenos" en el parte inferior de la página y nosotros le responderemos tan pronto como sea posible. ¡Gracias por su interés en nuestro ensayo clínico!
        </p>
    </div>
</div>
<div id="row3">
    <div id="hpCrew">
        <h2>Conózca a los equipos de HALF-PINT</h2>
        <div id="slideshow">
            <ul class="bxslider">
                <li><a href="http://www.childrenshospital.org/" target="_blank"><img src="@Url.Content("~/Content/Images/crewSlideshow/bchTeam.jpg")" title="Boston Children's Hospital" /></a></li>
                <li><a href="http://www.chop.edu/" target="_blank"><img src="@Url.Content("~/Content/Images/crewSlideshow/chopTeam.jpg")" title="Children's Hospital of Philadelphia" /></a></li>
                <li><a href="http://www.cham.org/" target="_blank"><img src="@Url.Content("~/Content/Images/crewSlideshow/fiorTeam.jpg")" title="The Children's Hospital at Montefiore" /></a></li>
                <li><a href="http://www.nemours.org/locations/nemours-dupont.html" target="_blank"><img src="@Url.Content("~/Content/Images/crewSlideshow/aidpTeam.jpg")" title="Nemours/Alfred I. DuPont Hospital for Children" /></a></li>
                <li><a href="http://www.childrenshospitaloakland.org/main/home.aspx" target="_blank"><img src="@Url.Content("~/Content/Images/crewSlideshow/choTeam.jpg")" title="Children's Hospital & Research Center of Oakland" /></a></li>
                <li><a href="https://kosairchildrenshospital.com/Pages/Home.aspx" target="_blank"><img src="@Url.Content("~/Content/Images/crewSlideshow/uolTeam.jpg")" title="Kosair Children's Hospital" /></a></li>
				<li><a href="https://www.luriechildrens.org/en-us/Pages/index.aspx" target="_blank"><img src="@Url.Content("~/Content/Images/crewSlideshow/luriTeam.jpg")" title="Ann & Robert H. Lurie Children's Hospital of Chicago" /></a></li>
            </ul>
        </div>
    </div>
    <div id="enrollment">
        <h2>Evolución de HALF-PINT</h2>
        <div id="goal-thermometer"></div>
    </div>
</div>
<div id="row4">
    <h2 id="mapHeader">Hospitales participantes en HALF-PINT</h2>
    <div id="hpMap">
    </div>
</div>
<div id="row5">
    <div id="familyMenu">
        <ul>
            <li id="active" class="first"><a id="hpOrigin" class="sideLink" href="#">Origen de HALF-PINT</a></li>
            <li><a id="hpDescribe" class="sideLink" href="#">Programa CHECKS</a></li>
            <li><a id="hpSensor" class="sideLink" href="#">Sensor Dexcom</a></li>
            <li><a id="hpND" class="sideLink" href="#">Encuesta de seguimiento</a></li>
            <li><a id="hpFam" class="sideLink" href="#">Padres HALF-PINT</a></li>
            <li><a id="hpContact" class="sideLink" href="#">Contáctenos</a></li>
        </ul>
    </div>
    <div id="hpOriginInfo">
        <div class="investigator first">
            <div class="investImage">
                <img src="@Url.Content("~/Content/Images/investigators/michael.jpg")" title="Michael Agus, MD">
            </div>
            <a href="http://www.childrenshospital.org/doctors/michael-agus" target="_blank"><h4>Michael Agus, MD</h4></a>
            <h5>Investigador Principal,<br />Centro de Coordinación Clínica</h5>
        </div>
        <div class="investigator">
            <div class="investImage">
                <img src="@Url.Content("~/Content/Images/investigators/vinay.jpg")" title="Vinay Nadkarni, MD">
            </div>
            <a href="http://www.chop.edu/doctors/nadkarni-vinay-m#.V1ctEvkrKCg" target="_blank"><h4>Vinay Nadkarni, MD</h4></a>
            <h5>Investigador Principal,<br />Centro de Coordinación Clínica</h5>
        </div>
        <div class="investigator">
            <div class="investImage">
                <img src="@Url.Content("~/Content/Images/investigators/david.jpg")" title="David Wypij, PhD">
            </div>
            <a href="https://www.hsph.harvard.edu/david-wypij/" target="_blank"><h4>David Wypij, PhD</h4></a>
            <h5>Investigador Principal,<br />Centro de Coordinación de Datos</h5>
        </div>
        <div class="investigator">
            <div class="investImage">
                <img src="@Url.Content("~/Content/Images/investigators/garry.jpg")" title="Garry Steil, PhD">
            </div>
            <a href="http://www.childrenshospital.org/researchers/garry-steil" target="_blank"><h4>Garry Steil, PhD</h4></a>
            <h5>Co-investigador,<br />Centro de Coordinación Clínica</h5>
        </div>
        <div id="originText">
            <p>Hiperglucemia, una enfermedad caracterizada por altos niveles de azúcar en la sangre, se presenta a menudo en niños muy enfermos. Muchos médicos que tratan a pacientes en la Unidad de Cuidados Intensivos (UCI) utilizan la insulina, una sustancia que nuestro cuerpo produce naturalmente, para reducir estos niveles de azúcar en la sangre. El ensayo HALF-PINT ha sido diseñado para ayudar a los médicos a determinar qué niveles de azúcar en la sangre deben establecer como objetivo para ayudar a que los niños se recuperen más rápidamente de su enfermedad.<br /><br />El nivel de azúcar en la sangre de los pacientes en la UCI ha sido objeto de intensas investigaciones durante las últimas dos décadas, pero la mayor parte de estas investigaciones se realizaron en pacientes adultos. En los ensayos pediátricos, un estudio clínico concluyó que los niños tenían más probabilidades de sobrevivir y permanecer menos tiempo en la UCI cuando los niveles elevados de azúcar en la sangre se reducían con insulina; sin embargo, este tratamiento aumentó la posibilidad de hipoglucemia severa (bajo nivel de azúcar en la sangre) <sup class="supOrigin"><a href="http://www.sciencedirect.com/science/article/pii/S0140673609600441" target="_blank">1</a></sup>. Uno de los principales investigadores de HALF-PINT, el Dr. Michael Agus, realizó un estudio sobre el control de los niveles elevados de azúcar en la sangre en la unidad pediátrica de cuidados intensivos cardíacos que dio como resultado la tasa más baja de hipoglucemia grave en comparación con todos los demás ensayos clínicos aleatorizados previos <sup class="supOrigin"><a href="http://www.nejm.org/doi/pdf/10.1056/NEJMoa1206044" target="_blank">2</a></sup>. Sin embargo, parece que el control estricto del azúcar en la sangre en la UCI cardíacos, no es mejor que los métodos tradicionales existentes.<br /><br />Los niños en las unidades pediátricas de cuidados intensivos (no cardíacos) tienen más diversidad de enfermedades que los niños de las unidades pediátricas de cuidados intensivos cardíacos. Es importante para nosotros realizar el estudio HALF-PINT para determinar si existen beneficios al controlar el azúcar en la sangre de estos niños, o si el tratamiento no cambia la situación. HALF-PINT inscribe a los niños que necesitan medicamentos para la presión arterial debido a que su presión arterial es baja o se encuentran en una máquina para ayudarles a respirar. Estos niños se encuentran entre los más enfermos y permanecen más tiempo en la UCI <sup class="supOrigin"><a href="http://www.sciencedirect.com/science/article/pii/S0022347696704250" target="_blank">3</a>,<a href="http://www.ncbi.nlm.nih.gov/pubmed/12541154" target="_blank">4</a></sup>. El Dr. Agus (Hospital Infantil de Boston) y el Dr. Vinay Nadkarni (Hospital Infantil de Filadelfia) diseñaron el estudio HALF-PINT para determinar si el tratamiento de la hiperglucemia en estos niños mejora sus posibilidades de supervivencia y acorta su estancia en la UCI. HALF-PINT utiliza un programa informático (llamado "CHECKS") desarrollado por el Dr. Garry Steil, un experto en la biología de la insulina del Boston Children’s, para tratar con seguridad y eficacia el azúcar en la sangre. El Dr. David Wypij, también del Boston Children's, es el investigador principal que dirige el equipo de bioestadística de HALF-PINT y tiene una trayectoria destacada en la coordinación de estadística y datos para estudios multicéntricos como el HALF-PINT.</p>
        </div>
    </div>
    <div id="hpDescribeInfo">
        <img class="checksgif" src="@Url.Content("~/Content/Images/CHECKS_short.gif")" title="CHECKS">
        <div id="screenDiv">
            <h3>Capturas de pantalla de CHECKS</h3>
            <div id="screenshots">
                <a href="@Url.Content("~/Content/Images/checksPhotos/checks_1.jpg")" class="checksScreen first" title="Rango de azúcar en la sangre de 80-110 mg/dL (4,4-6,1 mmol/L)">
                    <img src="@Url.Content("~/Content/Images/checksPhotos/checks_1.jpg")" width="75">
                </a>
                <a href="@Url.Content("~/Content/Images/checksPhotos/checks_2.jpg")" class="checksScreen" title="Rango de azúcar en la sangre de 150-180 mg/dL (8,3 a 10 mmol/L)">
                    <img src="@Url.Content("~/Content/Images/checksPhotos/checks_2.jpg")" width="75">
                </a>
                <a href="@Url.Content("~/Content/Images/checksPhotos/checks_3.jpg")" class="checksScreen last" title="Rango de azúcar en la sangre de 80-110 mg/dL (4,4-6,1 mmol/L)">
                    <img src="@Url.Content("~/Content/Images/checksPhotos/checks_3.jpg")" width="75">
                </a>
                <a href="@Url.Content("~/Content/Images/checksPhotos/checks_4.jpg")" class="checksScreen first bottom" title="Opciones de sustitución de insulina">
                    <img src="@Url.Content("~/Content/Images/checksPhotos/checks_4.jpg")" width="75">
                </a>
                <a href="@Url.Content("~/Content/Images/checksPhotos/checks_5.jpg")" class="checksScreen bottom" title="Registro detallado del historial">
                    <img src="@Url.Content("~/Content/Images/checksPhotos/checks_5.jpg")" width="75">
                </a>
                <a href="@Url.Content("~/Content/Images/checksPhotos/checks_6.jpg")" class="checksScreen last bottom" title="Registro anticipado del azúcar en la sangre">
                    <img src="@Url.Content("~/Content/Images/checksPhotos/checks_6.jpg")" width="75">
                </a>
            </div>
        </div>
        <div id="checksInfo">
            <p class="top">CHECKS (Planilla de euglucemia (nivel normal de azúcar en la sangre) para Niños del Children's Hospital) es una aplicación basada en Microsoft Excel que recomienda las dosis de insulina en respuesta a los cambios en los niveles de azúcar en la sangre de un paciente de la UCI. CHECKS ha sido analizado en más de 1,000 pacientes de la UCI y utiliza métodos desarrollados por el <a href="http://www.childrenshospital.org/researchers/garry-steil" target="_blank">Dr. Garry Steil</a> para recomendar la cantidad de insulina que su niño debe recibir. La aplicación está diseñada para mantener el nivel de azúcar en la sangre de su hijo dentro de un rango objetivo. Para HALF-PINT, este rango de azúcar en la sangre se asigna al azar al comienzo del estudio: 80-110 mg/dL (4.4-6.1 mmol/L) o 150-180 mg/dL (8.3 a 10 mmol/L). Los valores de azúcar en la sangre de su hijo también se trazan en un gráfico para que el personal médico de cabecera pueda consultarlo.</p>
            <p>CHECKS tiene numerosas funciones, entre otras, darle la opción al personal médico de cabecera de dejar sin efecto las recomendaciones de dosis de insulina, interrumpir el programa, ingresar valores de azúcar en la sangre antes de lo esperado, y ver un historial detallado de cada valor ingresado en CHECKS. El personal médico de cabecera puede dejar sin efecto las recomendaciones en cualquier momento si consideran que éstas van en contra de lo que es mejor para el niño. Si los síntomas del niño son demasiado graves como para continuar en el estudio HALF-PINT de forma segura, el personal médico de cabecera puede interrumpir CHECKS; El personal médico de cabecera también puede interrumpir CHECKS si su hijo abandona la UCI para un procedimiento o una operación.</p>
        </div>
    </div>
    <div id="hpNDInfo">
        <h2>Encuesta de seguimiento</h2>
        <div id="neuroDetail">
            <p>Uno de los objetivos del estudio HALF-PINT es establecer las diferencias entre el estado de salud con el que su hijo ingresó a la UCI y su estado de salud después de participar en nuestro estudio. Nuestro personal les solicitó a los padres de los niños que a la fecha de ingreso en el estudio HALF-PINT tenían entre 2 y 16 años de edad que llenaran dos cuestionarios sobre comportamientos habitual, el desarrollo y la calidad de vida del niño antes de que se enfermara.<br /><br />En caso de que haya recibido estos cuestionarios, poco después de que el niño salga del hospital, usted recibirá una tarjeta postal informándole que <u>es posible que reciba una llamada</u> de nuestro personal del estudio de la <a href='http://www.cumc.columbia.edu/dept/sergievsky/' target=”_blank”>Universidad de Columbia</a> para una encuesta de seguimiento sobre el estado de salud actual de su hijo. No todo el mundo que participe en nuestro estudio recibirá la llamada. Nosotros seleccionaremos aleatoriamente (como al lanzar una moneda) a las familias que llamaremos para la encuesta de seguimiento. Si recibe una segunda tarjeta postal (ver más abajo), esto significa que nuestro personal del estudio de la Universidad de Columbia <u>le llamará</u> dentro de unos meses con respecto a la encuesta de seguimiento.</p>
        </div>
        <div id="postcard">
            <img src="@Url.Content("~/Content/Images/follow_upCard_Spanish.png")" title="Encuesta de seguimiento – tarjeta postal">
        </div>
    </div>
    <div id="hpFamInfo">
        <h2>Padres HALF-PINT en PALISI</h2>
        <div id="palisiPhoto">
            <img src="@Url.Content("~/Content/Images/parents_palisi.jpg")" title="Parents at PALISI">
        </div>
        <div id="palisi_info">
            <p>Una parte importante de nuestra misión es hacer todo lo que este a nuestro alcance para explicarle a usted, a su hijo y a su familia nuestro estudio y mantenerle informado sobre nuestros avances. Creemos que esto es importante antes de iniciar el estudio, durante el estudio, e incluso después de su hijo haya participado. Por esta razón hemos invitado a un grupo de padres de niños que participaron en el estudio para hablar en nuestra reunión anual de investigadores en la conferencia de investigadores de lesión pulmonar aguda y septicemia en pacientes pediátricos (<a href="http://www.palisi.org/" target="_blank">PALISI</a>). PALISI es una organización de investigadores clínicos de América del Norte que tratan de encontrar nuevas formas para tratar los síntomas que amenazan la vida que afectan a los lactantes y los niños en la UCI. Hemos aprendido mucho de los comentarios de estos padres, y una de las principales razones por las que se ha desarrollado esta página de la familia es para hacer atender sus sugerencias.<br /><br />Cada padre que habló en PALISI expresó el deseo de ver más información sobre el ensayo HALF-PINT, mientras su hijo estaba participando en el estudio, así como después de haber abandonado la UCI. Esperamos que esta página sea una fuente valiosa de información para ustedes, los padres de los niños que participan en nuestro estudio. Si usted tiene alguna idea sobre qué información adicional que le gustaría ver o cómo podemos mejorar nuestra página web, por favor haga clic en el botón "Contacto" a su izquierda, introduzca sus comentarios en el cuadro de texto y un correo electrónico nos será enviado con sus ideas.</p>
        </div>
    </div>
    <div id="hpSensorInfo">
        <div id="sensor">
            <h2>Sensor G4 Dexcom</h2>
            <img src="@Url.Content("~/Content/Images/dexcomSensor.jpg")" title="Dexcom G4 Sensor">
            <ul>
                <li>Mide los niveles de azúcar en el fluido debajo de la piel, no en los vasos sanguíneos</li>
                <li>El ancho del cable sensor es de aproximadamente igual al de dos cabellos humanos</li>
                <li>Sitios en los que el sensor puede insertarse: abdomen, parte superior del brazo y el muslo</li>
                <li>Los sensores son insertados únicamente por personal capacitado</li>
            </ul>
        </div>
        <div id="receiver">
            <h2>Receptor G4 Dexcom</h2>
            <img src="@Url.Content("~/Content/Images/dexcomReceiver.png")" title="Dexcom G4 Receiver">
            <ul>
                <li>Recibe los datos de forma inalámbrica desde el sensor, hasta una distancia de 20 pies</li>
                <li>Los niveles de azúcar se actualizan en la pantalla cada 5 minutos</li>
                <li>Una flecha de tendencia le indica al personal al lado de la cama del paciente cómo es probable que cambie el nivel de azúcar</li>
                <li>Una alarma se activa si el nivel de azúcar baja demasiado</li>
            </ul>
        </div>
        <div id="moreInfoDexcom">
            <p>Para obtener más información sobre el sensor y el receptor que utilizamos en el ensayo HALF-PINT, por favor haga <a href="https://www.dexcom.com/es-ES/node/14791" target="_blank">clic aquí</a> para visitar Dexcom.com</p>
        </div>
    </div>
    <div id="hpContactInfo">
        @using (Html.BeginForm())
        {
            <h2>Formulario de contacto</h2>
            @Html.ValidationSummary(true)
            <p id="contactDescribe">
                Si hay algo que desea que modifiquemos o adicionemos a la página web de la familia, ¡envíenos sus ideas! Ingrese su nombre y dirección de correo electrónico con cualquier comentario que tenga en el cuadro de texto, a continuación, haga clic en enviar. Recibiremos un correo electrónico con sus comentarios y usted recibirá un correo electrónico de confirmación que indica que hemos recibido sus comentarios.
            </p>
            <div class="fieldset">
                <div class="parentInfo top">
                    <span class="lbleditor">Nombre:</span>
                    <span class="col2">
                        @Html.EditorFor(model => model.FamilyContact.FirstName)
                    </span>
                </div>
                <div class="parentInfo">
                    Apellido:
                    <span class="col2">
                        @Html.EditorFor(model => model.FamilyContact.LastName)
                    </span>

                </div>
                <div class="parentInfo">
                    Dirección de correo electrónico:
                    <span class="col2">
                        @Html.EditorFor(model => model.FamilyContact.Email)
                    </span>
                </div>
                <div>
                    Comentarios:
                    <span class="col2">
                        @Html.TextAreaFor(model => model.FamilyContact.Comment, 5, 62, new { })

                    </span>

                </div>
            </div>

            <div id="sendComments">
                <input type="submit" value="Enviar" />
            </div>

        }

    </div>
</div>

<link href="@Url.Content("~/Content/families_spanish.css")" rel="stylesheet" type="text/css">
<link href="@Url.Content("~/Content/jquery.bxslider.css")" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
<link href="@Url.Content("~/Content/goal-thermometer.css")" rel="stylesheet" type="text/css">
<link href="@Url.Content("~/Content/colorbox.css")" rel="stylesheet" type="text/css">

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.colorbox-min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.bxslider.min.js")"></script>
<script src="@Url.Content("~/Scripts/goal-thermometer.js")" type="text/javascript"></script>
<script>
    function initMap() {
        var centerLocation = {lat: 15.94304, lng: 5.10546};
        var bostonLocation = {lat: 42.337236, lng: -71.10577900000001};
        var chopLocation = {lat: 39.948828, lng: -75.194016};
        var columbiaLocation = {lat: 40.839776, lng: -73.941424};
        var cinnLocation = {lat: 39.140976, lng: -84.5012};
        var melbourneLocation = {lat: -37.793947, lng: 144.948728};
        var psuLocation = {lat: 40.26372400000001, lng: -76.675773};
        var wmcLocation = {lat: 41.086652, lng: -73.805834};
        var chlaLocation = {lat: 34.097538, lng: -118.29006300000002};
        var wchobLocation = {lat: 42.909358, lng: -78.875241};
        var mcdLocation = {lat: 32.912018, lng: -96.773698};
        var dukeLocation = {lat: 36.007055, lng: -78.937184};
        var yaleLocation = {lat: 41.304278, lng: -72.936447};
        var pmcLocation = {lat: 40.771132, lng: -111.838786};
        var uolLocation = {lat: 38.248432, lng: -85.749672};
        var chocLocation = {lat: 33.780751, lng: -117.86544899999998};
        var ummcLocation = {lat: 39.28786, lng: -76.624818};
        var luriLocation = {lat: 41.896305, lng: -87.621743};
        var jhuLocation = {lat: 39.297594, lng: -76.5936};
        var ucsfoLocation = {lat: 37.837031, lng: -122.267324};
        var choaLocation = {lat: 33.793985, lng: -84.319689};
        var mottLocation = {lat: 42.28186, lng: -83.727567};
        var uclaLocation = {lat: 34.06661, lng: -118.446321};
        var cmcLocation = {lat: 32.809501, lng: -96.837669};
        var uchiLocation = {lat: 41.790362, lng: -87.604601};
        var aidpLocation = {lat: 39.779347, lng: -75.555223};
        var cohenLocation = {lat: 40.754213, lng: -73.708482};
        var montLocation = {lat: 40.880283, lng: -73.878971};
        var ucsfLocation = {lat: 37.764725, lng: -122.39051};
        var millLocation = {lat: 33.808048, lng: -118.186769};
        var stlLocation = {lat: 38.637844, lng: -90.265016};
        var seaLocation = {lat: 47.662581, lng: -122.28238200000001};
        var stanLocation = {lat: 37.436088, lng: -122.175022};
        var soaLocation = {lat: 29.428019, lng: -98.498482};
        var chouLocation = {lat: 29.707839999999997, lng: -95.401379};
        var stjLocation = {lat: 45.503172, lng: -73.624862};
        var cmftLocation = {lat: 53.46131900000001, lng: -2.224452};
        var schLocation = {lat: 50.93347, lng: -1.434215};
        var cuhLocation = {lat: 52.17481000000001, lng: 0.140768};
        var oklLocation = {lat: 35.48129, lng: -97.49762};


        var map = new google.maps.Map(document.getElementById('hpMap'), {
            center: centerLocation,
            scrollwheel: true,
            zoom: 2,
            streetViewControl: false,
            mapTypeControl: false,
            zoomControlOptions:{
                position: google.maps.ControlPosition.RIGHT_TOP
            }
        });

        var infowindow = new google.maps.InfoWindow({ content: ''});

        var chopmarker = new google.maps.Marker({
            position: chopLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/CHOP.png")",
            title: "Children's Hospital of Philadelphia"
        });

        google.maps.event.addListener(chopmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='http://www.chop.edu/'target='_blank'> Children's Hospital of Philadelphia</a><br /> PI del estudio: <a class='mapLink' href='http://www.chop.edu/doctors/nadkarni-vinay-m#.VmixSEorKCg' target='_blank'>Vinay M. Nadkarni, MD</a><br /> PI del sitio: <a class='mapLink' href='http://www.chop.edu/doctors/srinivasan-vijay#.VrpNrvkrJhE' target='_blank'>Vijay Srinivasan, MD</a></p>");
            infowindow.open(map, chopmarker);
        });

        var bchmarker = new google.maps.Marker({
            position: bostonLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/chb.png")",
            title: "Boston Children's Hospital"
        });

        google.maps.event.addListener(bchmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='http://www.childrenshospital.org/'target='_blank'> Boston Children's</a><br /> PI's del estudio: <a class='mapLink' href='http://www.childrenshospital.org/doctors/michael-agus' target='_blank'>Michael Agus, MD</a>, <a class='mapLink' href='http://www.hsph.harvard.edu/david-wypij/' target='_blank'>David Wypij, PhD</a></p>");
            infowindow.open(map, bchmarker);
        });

        var colmarker = new google.maps.Marker({
            position: columbiaLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/columbia.png")",
            title: "NewYork-Presbyterian Morgan Stanley Children's Hospital"
        });

        google.maps.event.addListener(colmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='http://childrensnyp.org/mschony/index.html'target='_blank'> Morgan Stanley Children's Hospital of New York</a><br /> PI del sitio: <a class='mapLink' href='http://www.cumc.columbia.edu/pediatrics/division/critical-care-medicine/faculty#biagas' target='_blank'>Katherine Biagas, MD</a></p>");
            infowindow.open(map, colmarker);
        });

        var cinnmarker = new google.maps.Marker({
            position: cinnLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/cinn.png")",
            title: "Cincinnati Childrens Hospital Medical Center"
        });

        google.maps.event.addListener(cinnmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='http://www.cincinnatichildrens.org/default/'target='_blank'> Cincinnati Children's Hospital Medical Center</a><br /> PI del sitio: <a class='mapLink' href='http://www.cincinnatichildrens.org/bio/c/ranjit-chima/' target='_blank'>Ranjit S. Chima, MD</a></p>");
            infowindow.open(map, cinnmarker);
        });

        var melmarker = new google.maps.Marker({
            position: melbourneLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/melbourne.png")",
            title: "The Royal Children's Hospital Melbourne"
        });

        google.maps.event.addListener(melmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='http://www.rch.org.au/home/'target='_blank'> The Royal Children's Hospital</a><br /> PI del sitio: <a class='mapLink' href='http://www.rch.org.au/picu/' target='_blank'>Thomas Rozen, MD</a></p>");
            infowindow.open(map, melmarker);
        });

        var psumarker = new google.maps.Marker({
            position: psuLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/PSU.png")",
            title: "Penn State Milton S. Hershey Medical Center"
        });

        google.maps.event.addListener(psumarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='http://www.pennstatehershey.org/web/childrens'target='_blank'> PennState Hershey Children's Hospital</a><br /> PI del sitio: <a class='mapLink' href='http://www.pennstatehershey.org/findaprovider/provider/553' target='_blank'>Neal Thomas, MD, M.Sc</a></p>");
            infowindow.open(map, psumarker);
        });

        var wmcmarker = new google.maps.Marker({
            position: wmcLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/wmc.png")",
            title: "Westchester Medical Center"
        });

        google.maps.event.addListener(wmcmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='http://www.westchestermedicalcenter.com/mfch'target='_blank'> Westchester Medical Center</a><br /> PI's del sitio: <a class='mapLink' href='http://cwpw.org/directory/simon-li/' target='_blank'>Simon Li, MD, MPH</a>, <a class='mapLink' href='http://cwpw.org/directory/alan-pinto/' target='_blank'>Alan Pinto, MD</a></p>");
            infowindow.open(map, wmcmarker);
        });

        var chlamarker = new google.maps.Marker({
            position: chlaLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/chla.png")",
            title: "Children's Hospital Los Angeles"
        });

        google.maps.event.addListener(chlamarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='http://www.chla.org/'target='_blank'> Children's Hospital of Los Angeles</a><br /> PI del sitio: <a class='mapLink' href='http://www.chla.org/profile/christopher-newth-md' target='_blank'>Christopher J.L. Newth, MD</a></p>");
            infowindow.open(map, chlamarker);
        });

        var wchobmarker = new google.maps.Marker({
            position: wchobLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/wchob.png")",
            title: "Women & Children's Hospital of Buffalo"
        });

        google.maps.event.addListener(wchobmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='http://www.kaleidahealth.org/childrens/'target='_blank'> Women and Children's Hospital of Buffalo</a><br /> PI del sitio: <a class='mapLink' href='https://medicine.buffalo.edu/faculty/profile.html?ubit=albrooks' target='_blank'>Amanda Hassinger, MD MS</a></p>");
            infowindow.open(map, wchobmarker);
        });

        var mcdmarker = new google.maps.Marker({
            position: mcdLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/mcd.png")",
            title: "Medical City Dallas Hospital"
        });

        google.maps.event.addListener(mcdmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='http://mcchildrenshospital.com/'target='_blank'> Medical City Children's Dallas</a><br /> PI del sitio: <a class='mapLink' href='http://medicalcityhospital.com/physicians/profile/Gokul-K-Bysani-MD' target='_blank'>Kris Bysani, MD</a></p>");
            infowindow.open(map, mcdmarker);
        });

        var dukemarker = new google.maps.Marker({
            position: dukeLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/duke.png")",
            title: "Duke Children's Hospital & Health Center"
        });

        google.maps.event.addListener(dukemarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='http://www.dukechildrens.org/'target='_blank'> Duke Children's Hospital and Health Center</a><br /> PI del sitio: <a class='mapLink' href='http://pediatrics.duke.edu/faculty/details/0437345' target='_blank'>Kyle Rehder, MD</a></p>");
            infowindow.open(map, dukemarker);
        });

        var yalemarker = new google.maps.Marker({
            position: yaleLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/yale.png")",
            title: "Yale-New Haven Children's Hospital"
        });

        google.maps.event.addListener(yalemarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='https://www.ynhh.org/childrens-hospital.aspx'target='_blank'> Yale - New Haven Children's Hospital</a><br /> PI's del sitio: <a class='mapLink' href='https://medicine.yale.edu/pediatrics/critical/people/sarah_kandil.profile' target='_blank'>Sarah Kandil, MD</a>, <a class='mapLink' href='https://medicine.yale.edu/pediatrics/critical/people/vince_faustino.profile' target='_blank'>Vincent Faustino, MD, MHS</a></p>");
            infowindow.open(map, yalemarker);
        });

        var pmcmarker = new google.maps.Marker({
            position: pmcLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/pmc.png")",
            title: "Primary Children’s Medical Center"
        });

        google.maps.event.addListener(pmcmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='https://intermountainhealthcare.org/locations/primary-childrens-hospital/'target='_blank'> Primary Children's Medical Center</a><br /> PI del sitio: <a class='mapLink' href='https://intermountainhealthcare.org/locations/primary-childrens-hospital/medical-providers/doctor%20detail?Doctor=ff68b7a4-c285-4dea-a5ae-80ca221ee5ff' target='_blank'>Ellie L. Hirshberg, MD</a></p>");
            infowindow.open(map, pmcmarker);
        });

        var uolmarker = new google.maps.Marker({
            position: uolLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/uol.png")",
            title: "Kosair Children's Hospital"
        });

        google.maps.event.addListener(uolmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='https://kosairchildrenshospital.com/Pages/Home.aspx'target='_blank'> University of Louisville Kosair Children's Hospital</a><br /> PI's del sitio: <a class='mapLink' href='https://kosairchildrenshospital.com/provider/janice-e-sullivan-md-critical-care' target='_blank'>Janice E. Sullivan, MD</a>, <a class='mapLink' href='https://kosairchildrenshospital.com/provider/kupper-wintergerst-md-endocrinology' target='_blank'>Kupper Wintergerst, MD</a></p>");
            infowindow.open(map, uolmarker);
        });

        var chocmarker = new google.maps.Marker({
            position: chocLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/choc.png")",
            title: "Choc Children's Hospital"
        });

        google.maps.event.addListener(chocmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='http://www.choc.org/'target='_blank'> Children's Hospital of Orange County</a><br /> PI del sitio: <a class='mapLink' href='http://providers.choc.org/findadoc/index.cfm?id=P00348&pid=1255' target='_blank'>Adam Schwarz, MD</a></p>");
            infowindow.open(map, chocmarker);
        });

        var ummcmarker = new google.maps.Marker({
            position: ummcLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/ummc.png")",
            title: "University of Maryland Medical Center"
        });

        google.maps.event.addListener(ummcmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='http://umm.edu/programs/childrens'target='_blank'> University of Maryland Medical Center</a><br /> PI del sitio: <a class='mapLink' href='http://findadoctor.umm.edu/Details/23916' target='_blank'>Dayanand Bagdure, MD, MPH</a></p>");
            infowindow.open(map, ummcmarker);
        });

        var lurimarker = new google.maps.Marker({
            position: luriLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/luri.png")",
            title: "Ann & Robert H. Lurie Children's Hospital of Chicago"
        });

        google.maps.event.addListener(lurimarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='https://www.luriechildrens.org/en-us/Pages/index.aspx'target='_blank'> Ann & Robert H. Lurie Children's Hospital of Chicago</a><br /> PI del sitio: <a class='mapLink' href='https://www.luriechildrens.org/en-us/care-services/find-a-doctor/Pages/Marsillio_Lauren_3270.aspx' target='_blank'>Lauren Marsillio, MD</a></p>");
            infowindow.open(map, lurimarker);
        });

        var jhumarker = new google.maps.Marker({
            position: jhuLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/jhu.png")",
            title: "Johns Hopkins Hospital"
        });

        google.maps.event.addListener(jhumarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='http://www.hopkinschildrens.org/'target='_blank'> Johns Hopkins Children's Center</a><br /> PI del sitio: <a class='mapLink' href='http://www.hopkinsmedicine.org/anesthesiology_critical_care_medicine/research/experts/research_faculty/bios/fackler.html' target='_blank'>James C. Fackler, MD</a></p>");
            infowindow.open(map, jhumarker);
        });

        var ucsfomarker = new google.maps.Marker({
            position: ucsfoLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/ucsf.png")",
            title: "UCSF Benioff Children's Hospital Oakland"
        });

        google.maps.event.addListener(ucsfomarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='http://www.childrenshospitaloakland.org/main/home.aspx'target='_blank'> Children's Hospital & Research Center of Oakland</a><br /> PI del sitio: <a class='mapLink' href='http://www.childrenshospitaloakland.org/main/find-a-doctor/cvijanovich-natalie-z-md-61.aspx' target='_blank'>Natalie Cvijanovich, MD</a></p>");
            infowindow.open(map, ucsfomarker);
        });

        var choamarker = new google.maps.Marker({
            position: choaLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/choa.png")",
            title: "Children's Healthcare of Atlanta at Egleston"
        });

        google.maps.event.addListener(choamarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='http://www.choa.org/#Mh9OuoKewKBhB6wp.97'target='_blank'> Children's Healthcare of Atlanta</a><br /> PI del sitio: <a class='mapLink' href='http://www.choa.org/Childrens-Hospital-Services/Critical-Care/Pediatric-Intensive-Care/PICU-Physicians/Nga-Pham#6kf0uaxyvcY5GjzV.97' target='_blank'>Nga Pham, MD, F.A.A.P.</a></p>");
            infowindow.open(map, choamarker);
        });

        var mottmarker = new google.maps.Marker({
            position: mottLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/mott.png")",
            title: "C.S. Mott Children's Hospital"
        });

        google.maps.event.addListener(mottmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='http://www.mottchildren.org/'target='_blank'> C.S. Mott Children's Hospital</a><br /> PI del sitio: <a class='mapLink' href='http://www.mottchildren.org/profile/4087/heidi-rosanna-flori-md' target='_blank'>Heidi Flori, MD</a></p>");
            infowindow.open(map, mottmarker);
        });

        var uclamarker = new google.maps.Marker({
            position: uclaLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/ucla.png")",
            title: "Mattel Children's Hospital UCLA"
        });

        google.maps.event.addListener(uclamarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='https://www.uclahealth.org/mattel/Pages/default.aspx'target='_blank'> Mattel Children's Hospital</a><br /> PI del sitio: <a class='mapLink' href='https://www.uclahealth.org/provider/myke-federman-md' target='_blank'>Myke Federman, MD</a></p>");
            infowindow.open(map, uclamarker);
        });

        var cmcmarker = new google.maps.Marker({
            position: cmcLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/cmc.png")",
            title: "Children's Medical Center Dallas"
        });

        google.maps.event.addListener(cmcmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='https://www.childrens.com/'target='_blank'> Children's Medical Center Dallas</a><br /> PI del sitio: <a class='mapLink' href='https://www.childrens.com/doctor-profile/peter-m-luckett' target='_blank'>Peter Luckett, MD</a></p>");
            infowindow.open(map, cmcmarker);
        });

        var oklmarker = new google.maps.Marker({
            position: oklLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/okl.png")",
            title: "The Children's Hospital at OU Medical Center"
        });

        google.maps.event.addListener(oklmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='https://www.oumedicine.com/the-children%27s-hospital' target='_blank'> The Children's Hospital at OU Medical Center</a><br /> PI del sitio: <a class='mapLink' href='http://findadoc.oumedicine.com/helen-c-allen' target='_blank'>Christine Allen, MD</a></p>");
            infowindow.open(map, oklmarker);
        });

        var uchimarker = new google.maps.Marker({
            position: uchiLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/uchi.png")",
            title: "University of Chicago Medicine Comer Children's Hospital"
        });

        google.maps.event.addListener(uchimarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='http://www.uchicagokidshospital.org/'target='_blank'> University of Chicago Comer Children's Hospital</a><br /> PI del sitio: <a class='mapLink' href='http://www.uchicagokidshospital.org/physicians/neethi-pinto.html' target='_blank'>Neethi Pinto, MD, MS</a></p>");
            infowindow.open(map, uchimarker);
        });

        var aidpmarker = new google.maps.Marker({
            position: aidpLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/aidp.png")",
            title: "Nemours/Alfred I. duPont Hospital for Children"
        });

        google.maps.event.addListener(aidpmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='http://www.nemours.org/locations/nemours-dupont.html'target='_blank'> Nemours/Alfred I. DuPont Hospital for Children</a><br /> PI del sitio: <a class='mapLink' href='http://findaprovider.nemours.org/Search/Profile/62919/Dr-Shirley-Viteri' target='_blank'>Shirley D. Viteri, MD</a></p>");
            infowindow.open(map, aidpmarker);
        });

        var cohenmarker = new google.maps.Marker({
            position: cohenLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/cohen.png")",
            title: "Cohen Children’s Medical Center"
        });

        google.maps.event.addListener(cohenmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='http://ccmc.northshorelij.com/'target='_blank'> Cohen Children's Medical Center</a><br /> PI del sitio: <a class='mapLink' href='https://www.northshorelij.com/find-care/find-a-doctor/pediatrics/dr-james-brandon-schneider-md-11346141' target='_blank'>James B. Schneider, MD</a></p>");
            infowindow.open(map, cohenmarker);
        });

        var montmarker = new google.maps.Marker({
            position: montLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/mont.png")",
            title: "The Children's Hospital at Montefiore"
        });

        google.maps.event.addListener(montmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='http://www.cham.org/'target='_blank'> The Children's Hospital at Montefiore</a><br /> PI del sitio: <a class='mapLink' href='http://www.montefiore.org/body.cfm?id=1735&action=detail&ref=4862' target='_blank'>Shivanand S. Medar, MD</a></p>");
            infowindow.open(map, montmarker);
        });

        var ucsfmarker = new google.maps.Marker({
            position: ucsfLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/ucsf.png")",
            title: "UCSF Benioff Children's Hospital"
        });

        google.maps.event.addListener(ucsfmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='https://www.ucsfbenioffchildrens.org/'target='_blank'> UCSF Benioff Children's Hospital</a><br /> PI del sitio: <a class='mapLink' href='https://pediatrics.ucsf.edu/faculty/patrick-mcquillen-md' target='_blank'>Patrick McQuillen, MD</a></p>");
            infowindow.open(map, ucsfmarker);
        });

        var millmarker = new google.maps.Marker({
            position: millLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/mill.png")",
            title: "Miller Childrens Hospital"
        });

        google.maps.event.addListener(millmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='http://www.millerchildrenshospitallb.org/'target='_blank'> Miller Children's Hospital</a><br /> PI del sitio: <a class='mapLink' href='http://www.memorialcare.org/find-doctors/physician/christopher-j-babbitt-md' target='_blank'>Christopher Babbitt, MD</a></p>");
            infowindow.open(map, millmarker);
        });

        var stlmarker = new google.maps.Marker({
            position: stlLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/stl.png")",
            title: "St. Louis Children's Hospital"
        });

        google.maps.event.addListener(stlmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='http://www.stlouischildrens.org'target='_blank'> St. Louis Children's Hospital</a><br /> PI del sitio: <a class='mapLink' href='http://www.stlouischildrens.org/our-services/physicians/john-c-lin-md' target='_blank'>John C. Lin, MD</a></p>");
            infowindow.open(map, stlmarker);
        });

        var seamarker = new google.maps.Marker({
            position: seaLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/sea.png")",
            title: "Seattle Children's"
        });

        google.maps.event.addListener(seamarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='https://www.seattlechildrens.org/'target='_blank'> Seattle Children's Hospital</a><br /> PI del sitio: <a class='mapLink' href='http://www.seattlechildrens.org/medical-staff/ofer-yanay/' target='_blank'>Ofer Yanay, MD</a></p>");
            infowindow.open(map, seamarker);
        });

        var stanmarker = new google.maps.Marker({
            position: stanLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/stan.png")",
            title: "Lucile Packard Children's Hospital Stanford"
        });

        google.maps.event.addListener(stanmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteStandby'>En espera</span><br />Hospital:<a class='mapLink' href='http://www.stanfordchildrens.org/'target='_blank'> Lucile Packard Children's Hospital Stanford</a><br /> PI del sitio: <a class='mapLink' href='http://www.stanfordchildrens.org/en/doctor/default?id=elora-hussain' target='_blank'>Elora Hussain, MD</a></p>");
            infowindow.open(map, stanmarker);
        });

        var soamarker = new google.maps.Marker({
            position: soaLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/soa.png")",
            title: "Children's Hospital of San Antonio"
        });

        google.maps.event.addListener(soamarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteStandby'>En espera</span><br />Hospital:<a class='mapLink' href='http://www.chofsa.org/'target='_blank'> Children's Hospital of San Antonio</a><br /> PI del sitio: <a class='mapLink' href='http://www.chofsa.org/network' target='_blank'>Utpal Bhalala, MD, F.A.A.P.</a></p>");
            infowindow.open(map, soamarker);
        });

        var choumarker = new google.maps.Marker({
            position: chouLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/chou.png")",
            title: "Texas Children's Hospital"
        });

        google.maps.event.addListener(choumarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteStandby'>En espera</span><br />Hospital:<a class='mapLink' href='http://www.texaschildrens.org/'target='_blank'> Texas Children's Hospital</a><br /> PI del sitio: <a class='mapLink' href='http://www.texaschildrens.org/find-a-doctor/laura-l-loftis-md' target='_blank'>Laura Loftis, MD</a></p>");
            infowindow.open(map, choumarker);
        });

        var stjmarker = new google.maps.Marker({
            position: stjLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/stj.png")",
            title: "CHU Sainte-Justine"
        });

        google.maps.event.addListener(stjmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteActive'>Activo</span><br />Hospital:<a class='mapLink' href='https://www.chusj.org/fr/accueil'target='_blank'> CHU Sainte-Justine</a><br /> PI del sitio: <a class='mapLink' href='http://www.ccctg.ca/Members/BIO/Philippe-Jouvet.aspx?ext=.' target='_blank'>Philippe Jouvet, MD</a></p>");
            infowindow.open(map, stjmarker);
        });

        var cuhmarker = new google.maps.Marker({
            position: cuhLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/cuh.png")",
            title: "Addenbrooke's Hospital"
        });

        google.maps.event.addListener(cuhmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteStandby'>En espera</span><br />Hospital:<a class='mapLink' href='http://www.cuh.org.uk/addenbrookes-hospital'target='_blank'> Addenbrooke's Hospital</a><br /> PI del sitio: <a class='mapLink' href='http://paediatrics.medschl.cam.ac.uk/paediatric-research-at-addenbrookes/paediatric-intensive-care/' target='_blank'>Ricardo Branco, MD</a></p>");
            infowindow.open(map, cuhmarker);
        });

        var schmarker = new google.maps.Marker({
            position: schLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/sch.png")",
            title: "Southampton Children's Hospital"
        });

        google.maps.event.addListener(schmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteStandby'>En espera</span><br />Hospital:<a class='mapLink' href='http://www.uhs.nhs.uk/Ourhospitals/SCH/SouthamptonChildrensHospital.aspx'target='_blank'> Southampton Children's Hospital</a><br /> PI del sitio: <a class='mapLink' href='http://www.uhs.nhs.uk/ContactUs/Directoryofconsultants/Consultants-by-service/Children-and-young-adult-consultants/Intensive-care/PappachanDrJohn.aspx' target='_blank'>John Pappachan, MD</a></p>");
            infowindow.open(map, schmarker);
        });

        var cmftmarker = new google.maps.Marker({
            position: cmftLocation,
            map: map,
            icon: "@Url.Content("~/Content/Images/hpMapMarkers/cmft.png")",
            title: "Royal Manchester Children's Hospital"
        });

        google.maps.event.addListener(cmftmarker, 'click', function (){
            infowindow.setContent("<p class='mapSiteInfo'>Estado del sitio: <span class='siteStandby'>En espera</span><br />Hospital:<a class='mapLink' href='http://www.cmft.nhs.uk/childrens-hospitals'target='_blank'> Royal Manchester Children's Hospital</a><br /> PI del sitio: <a class='mapLink' href='http://www.cmft.nhs.uk/childrens-hospitals/our-services/critical-care/dr-stephen-playfor' target='_blank'>Stephen Playfor, MD</a></p>");
            infowindow.open(map, cmftmarker);
        });

    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
<script>
    $(document).ready(function(){
        $('.bxslider').bxSlider({
            mode: 'fade',
            auto: true,
            autoControls: true,
            captions: true,
            autoHover: true,
            pause: 4000

        });
        $(".cb").colorbox({rel: 'gal1'});
        $(".checksScreen").colorbox({rel: 'checksGal', transition: "fade"});
        $('#lanSelector li').hover(function(){
            $(this).children("ul").slideDown("fast");
        },
				function(){
				    $(this).children("ul").slideUp("fast");
				}
		);
        $('a.sideLink').click(function(e){
            e.preventDefault();
            var oldSelect = $("#active a").attr('id') + "Info";
            $("#" + oldSelect).fadeOut();
            $("#" + this.id + "Info").fadeIn();
            $("#active").removeAttr('id');
            $("#" + this.id).parent().attr('id', 'active');
        });
    });
</script>